body {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  align-items: center;

  gap: 45px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}
.select {
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.z_line {
  border-bottom: 2px solid black;
}

.cell_container input {
  width: 40px;
  background-color: transparent;
  border: none;
}
.cell_container p {
  user-select: none;
}
.cell_container input:focus {
  outline: none;
}
.cell_container {
  display: flex;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  width: 70px;
  height: 20px;
  align-items: center;
  border-radius: 7px;
}
.subject-to {
  display: grid;
  grid-template-columns: 100px auto;
  gap: 5px;
}

.form-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.subtitle {
  font-size: 9px;
  padding: 0 2px;
}
.main {
  overflow-y: auto;
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto auto;
}
table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
}
th,
td {
  padding: 10px;
  text-align: center;
  width: 10%;
}
th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.result {
  text-align: center;
}
